<!doctype html>
<html lang="vi">

<head>
  <title>Danh sách quản trị viên</title>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
  <!-- VENDOR CSS -->
  <link rel="stylesheet" href="/admin/vendor/bootstrap/css/bootstrap.min.css">
  <link rel="stylesheet" href="/admin/vendor/font-awesome/css/font-awesome.min.css">
  <link rel="stylesheet" href="/admin/vendor/linearicons/style.css">
  <link rel="stylesheet" href="/admin/vendor/datatables/css/dataTables.bootstrap.min.css">
  <link rel="stylesheet" href="/admin/vendor/bootstrap-select/bootstrap-select.min.css">
  <link rel="stylesheet" href="/admin/css/animate.min.css">
  <!-- MAIN CSS -->
  <link rel="stylesheet" href="/admin/css/main.css">
  <!-- GOOGLE FONTS -->
  <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700" rel="stylesheet">
  <!-- ICONS -->
  <link rel="apple-touch-icon" sizes="76x76" href="/admin/img/apple-icon.png">
  <link rel="icon" type="image/png" sizes="96x96" href="/admin/img/favicon.png">
</head>

<body>
<!-- WRAPPER -->
<div id="wrapper">
  <!-- NAVBAR -->
  <%- include('component/_navbar') %>
  <!-- END NAVBAR -->
  <!-- LEFT SIDEBAR -->
  <%- include('component/_sidebar') %>
  <!-- END LEFT SIDEBAR -->
  <!-- MAIN -->
  <div class="main">
    <!-- MAIN CONTENT -->
    <div class="main-content">
      <div class="container-fluid">
        <h3 class="page-title">Tables</h3>
        <% if (typeof flashStatus !== "undefined" && typeof flashMessage !== "undefined") { %>
        <div class="alert alert-<%= flashStatus %> alert-dismissible" role="alert">
          <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span></button>
          <i class="fa fa-check-circle"></i> <%= flashMessage %>
        </div>
        <% } %>
        <div class="row">
          <div class="col-md-12">
            <!-- TABLE ADMINS -->
            <div class="panel">
              <div class="panel-heading">
                <h3 class="panel-title">Danh sách quản trị viên</h3>
              </div>
              <div class="panel-body">
                <% if (typeof admins !== "undefined" && admins.length > 0) { %>
                <table class="table table-hover" id="table_admins">
                  <thead>
                  <tr>
                    <th>Email</th>
                    <th>Họ và tên</th>
                    <th>Số điện thoại</th>
                    <th>Vai trò</th>
                    <th>Ngày tạo</th>
                    <th>Hành động</th>
                  </tr>
                  </thead>
                  <tbody>
                  <% admins.forEach(admin => { %>
                  <% let role = admin['level'] == 2? 'Admin': 'Super Admin' %>
                  <tr id="tr_<%= admin['id'] %>">
                    <td><%= admin['email'] %></td>
                    <td><%= admin['name'] %></td>
                    <td><%= admin['phone'] %></td>
                    <td><%= role %></td>
                    <td><%= formatDay(admin['created_at'], true) %></td>
                    <td class="user-action">
                      <a href="/admin/managers/<%= admin['id'] %>" class="btn btn-sm btn-info mb-1" data-toggle="tooltip" title="Xem">
                        <span class="fa fa-info-circle"></span>
                      </a>
                      <button class="btn btn-sm btn-primary mb-1" data-toggle="tooltip" title="Giáng chức" type="button" onclick="downgradeAdmin(<%= admin['id'] %>)">
                        <span class="fa fa-level-down"></span>
                      </button>
                      <button class="btn btn-sm btn-danger mb-1" data-toggle="tooltip" title="Xóa" type="button" onclick="deleteAdmin(<%= admin['id'] %>)">
                        <span class="fa fa-trash"></span>
                      </button>
                    </td>
                  </tr>
                  <% }) %>
                  </tbody>
                </table>
                <% } else { %>
                <h5>Chưa có thông tin!</h5>
                <% } %>
              </div>
              <div class="panel-footer">
                <h5></h5>
              </div>
            </div>
            <!-- END TABLE ADMINS -->
          </div>
        </div>
      </div>
    </div>
    <!-- END MAIN CONTENT -->
  </div>
  <!-- END MAIN -->
  <div class="clearfix"></div>
  <footer>
    <div class="container-fluid">
    </div>
  </footer>
</div>
<!-- END WRAPPER -->
<!-- Javascript -->
<script src="/admin/vendor/jquery/jquery.min.js"></script>
<script src="/admin/vendor/bootstrap/js/bootstrap.min.js"></script>
<script src="/admin/vendor/jquery-slimscroll/jquery.slimscroll.min.js"></script>
<script src="/admin/vendor/datatables/js/jquery.dataTables.js"></script>
<script src="/admin/vendor/datatables/js/dataTables.bootstrap.min.js"></script>
<script src="/admin/vendor/bootstrap-select/bootstrap-select.min.js"></script>

<script src="/admin/js/bootstrap-notify.js"></script>
<script src="/admin/js/admin-common.js"></script>

<script>
  $(document).ready(function() {
    $('#table_admins').DataTable();

    $('.user-action .btn-delete').click(function(e) {
      let userId = $(e.target).val();
      // delete user
    });
  });

  function deleteAdmin(id) {
    if (confirm(message.confirm_delete)) {
      $.ajax({
        url: "/admin/managers",
        method: 'delete',
        data: {
          admin_id: id
        },
        success: function(result) {
          if (result && result.status === 'success') {
            showAlert('success', result.message ? result.message : message.delete_success);
            $(`#tr_${id}`).hide(500);
          } else {
            showAlert('danger', result.message ? result.message : message.delete_failed);
          }
        },
        failed: function(error) {
          showAlert('danger', error);
        }
      });
    }
  }

  function downgradeAdmin(id) {
    if (confirm(message.confirm_action)) {
      $.ajax({
        url: "/admin/managers",
        method: 'put',
        data: {
          admin_id: id
        },
        success: function(result) {
          if (result && result.status === 'success') {
            showAlert('success', result.message ? result.message : message.action_success);
            $(`#tr_${id}`).hide(500);
          } else {
            showAlert('danger', result.message ? result.message : message.action_failed);
          }
        },
        failed: function(error) {
          showAlert('danger', error);
        }
      });
    }
  }
</script>
</body>

</html>
