<!doctype html>
<html lang="vi">

<head>
  <title>Cấu hình hệ thống</title>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
  <!-- VENDOR CSS -->
  <link rel="stylesheet" href="/admin/vendor/bootstrap/css/bootstrap.min.css">
  <link rel="stylesheet" href="/admin/vendor/font-awesome/css/font-awesome.min.css">
  <link rel="stylesheet" href="/admin/vendor/linearicons/style.css">
  <link rel="stylesheet" href="/admin/vendor/datatables/css/dataTables.bootstrap.min.css">
  <link rel="stylesheet" href="/admin/vendor/bootstrap-select/bootstrap-select.min.css">
  <!-- MAIN CSS -->
  <link rel="stylesheet" href="/admin/css/main.css">
  <!-- GOOGLE FONTS -->
  <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700" rel="stylesheet">
  <!-- ICONS -->
  <link rel="apple-touch-icon" sizes="76x76" href="/admin/img/apple-icon.png">
  <link rel="icon" type="image/png" sizes="96x96" href="/admin/img/favicon.png">
</head>

<body>
<!-- WRAPPER -->
<div id="wrapper">
  <!-- NAVBAR -->
  <%- include('component/_navbar') %>
  <!-- END NAVBAR -->
  <!-- LEFT SIDEBAR -->
  <%- include('component/_sidebar') %>
  <!-- END LEFT SIDEBAR -->
  <!-- MAIN -->
  <div class="main">
    <!-- MAIN CONTENT -->
    <div class="main-content">
      <div class="container-fluid">
        <h3 class="page-title">Cài đặt thông tin website</h3>
        <% if (typeof flashStatus !== "undefined" && typeof flashMessage !== "undefined") { %>
        <div class="alert alert-<%= flashStatus %> alert-dismissible" role="alert">
          <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span></button>
          <i class="fa fa-check-circle"></i> <%= flashMessage %>
        </div>
        <% } %>
        <div class="row">
          <div class="col-md-12">
            <!-- TABLE USERS -->
            <div class="panel">
              <div class="panel-heading">
                <h3 class="panel-title">Thông tin cơ bản</h3>
              </div>
              <form action="/admin/cau-hinh" method="post">
                <div class="panel-body">
                  <% if (typeof configs !== "undefined") { %>
                  <div class="form-row">
                    <div class="form-group col-md-6">
                      <label>Tên website</label>
                      <input name="page_name" class="form-control" placeholder="Tên hiển thị trên trang chủ" value="<%= configs['page_name'] %>">
                    </div>
                    <div class="form-group col-md-6">
                      <label>Tên chủ shop</label>
                      <input name="shop_owner" class="form-control" placeholder="Hiển thị trong SEO và một số chỗ khác" value="<%= configs['shop_owner'] %>">
                    </div>
                  </div>
                  <div class="form-row">
                    <div class="form-group col-md-4">
                      <label>Số điện thoại</label>
                      <input name="phone" class="form-control" placeholder="SDT cho khách hàng liên hệ" value="<%= configs['phone'] %>">
                    </div>
                    <div class="form-group col-md-4">
                      <label>Email</label>
                      <input name="email" class="form-control" placeholder="Email liên hệ" value="<%= configs['email'] %>">
                    </div>
                    <div class="form-group col-md-4">
                      <label for="inputPassword4">Facebook</label>
                      <input name="facebook" class="form-control" placeholder="Link Facebook cá nhân hoặc Fanpage" value="<%= configs['facebook'] %>">
                    </div>
                  </div>
                  <div class="form-row">
                    <div class="form-group col-md-12">
                      <label>Địa chỉ</label>
                      <textarea name="address" class="form-control" rows="3" placeholder="Địa chỉ Shop"><%= configs['address'] %></textarea>
                    </div>
                  </div>
                  <div class="form-row">
                    <div class="form-group col-md-12">
                      <label>Mô tả ngắn của Shop (slogan)</label>
                      <textarea name="shop_description" class="form-control" rows="3" placeholder="Ngắn gọn, xúc tích"><%= configs['shop_description'] %></textarea>
                    </div>
                  </div>
                  <div class="form-row">
                    <div class="form-group col-md-12">
                      <label>Thông tin tài khoản ATM</label>
                      <textarea name="atm" class="form-control" rows="3" placeholder=""><%= configs['atm'] %></textarea>
                    </div>
                  </div>
                  <% } else { %>
                  <h5>Chưa có thông tin</h5>
                  <% } %>
                </div>
                <div class="panel-footer text-right">
                  <button class="btn btn-primary mr-4" type="submit">Cập nhật</button>
                </div>
              </form>
            </div>
            <!-- END TABLE USERS -->
          </div>
        </div>
      </div>
    </div>
    <!-- END MAIN CONTENT -->
  </div>
  <!-- END MAIN -->
  <div class="clearfix"></div>
  <footer>
    <div class="container-fluid">
    </div>
  </footer>
</div>
<!-- END WRAPPER -->
<!-- Javascript -->
<script src="/admin/vendor/jquery/jquery.min.js"></script>
<script src="/admin/vendor/bootstrap/js/bootstrap.min.js"></script>
<script src="/admin/vendor/jquery-slimscroll/jquery.slimscroll.min.js"></script>
<script src="/admin/vendor/datatables/js/jquery.dataTables.js"></script>
<script src="/admin/vendor/datatables/js/dataTables.bootstrap.min.js"></script>
<script src="/admin/vendor/bootstrap-select/bootstrap-select.min.js"></script>

<script src="/admin/js/admin-common.js"></script>

<script>
  $(document).ready(function() {
    $('#table_users').DataTable({
      responsive: true,
      columnDefs: [
        {
          orderable: false,
          targets: 4
        }
      ]
    });

    $('.user-action .btn-delete').click(function(e) {
      let userId = $(e.target).val();
      // delete user
    });
  });
</script>
</body>

</html>
