<!doctype html>
<html lang="en">

<head>
  <title>Tables | Klorofil - Free Bootstrap Dashboard Template</title>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
  <!-- VENDOR CSS -->
  <link rel="stylesheet" href="/admin/vendor/bootstrap/css/bootstrap.min.css">
  <link rel="stylesheet" href="/admin/vendor/font-awesome/css/font-awesome.min.css">
  <link rel="stylesheet" href="/admin/vendor/linearicons/style.css">
  <!-- MAIN CSS -->
  <link rel="stylesheet" href="/admin/css/main.css">
  <!-- Data table -->
  <link rel="stylesheet" href="/admin/vendor/datatables/css/dataTables.bootstrap.min.css">
  <!-- GOOGLE FONTS -->
  <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700" rel="stylesheet">
  <!-- ICONS -->
  <link rel="apple-touch-icon" sizes="76x76" href="/admin/img/apple-icon.png">
  <link rel="icon" type="image/png" sizes="96x96" href="/admin/img/favicon.png">
</head>

<body>
<!-- WRAPPER -->
<div id="wrapper">
  <!-- NAVBAR -->
  <%- include('component/_navbar') %>
  <!-- END NAVBAR -->
  <!-- LEFT SIDEBAR -->
  <%- include('component/_sidebar') %>
  <!-- END LEFT SIDEBAR -->
  <!-- MAIN -->
  <div class="main">
    <!-- MAIN CONTENT -->
    <div class="main-content">
      <div class="container-fluid">
        <h3 class="page-title">Tables</h3>
        <div class="row">
          <div class="col-md-12">
            <!-- TABLE ITEMS -->
            <div class="panel">
              <div class="panel-heading">
                <h3 class="panel-title">Hover Row</h3>
              </div>
              <div class="panel-body">
                <table class="table table-hover" id="table_items">
                  <thead>
                  <tr>
                    <th>Tên sản phẩm</th>
                    <th>Hình ảnh</th>
                    <th>Danh mục</th>
                    <th>Giá</th>
                    <th>Đã bán/Kho</th>
                    <th>Ngày tạo</th>
                  </tr>
                  </thead>
                  <tbody>
                  <% if (typeof items !== "undefined") { %>
                  <% items.forEach(item => { %>
                  <tr>
                    <td><%= item['name'] %></td>
                    <td><img src="/<%= item['image'] %>" ></td>
                    <td><%= item['category_name'] %></td>
                    <td><%= formatPrice(item['price']) %></td>
                    <td><%= item['sold'] %>/<% item['available'] %></td>
                    <td><%= item['created_at'] %></td>
                  </tr>
                  <% }) %>
                  <% } %>
                  </tbody>
                </table>
              </div>
            </div>
            <!-- END TABLE ITEMS -->
          </div>
        </div>
      </div>
    </div>
    <!-- END MAIN CONTENT -->
  </div>
  <!-- END MAIN -->
  <div class="clearfix"></div>
  <footer>
    <div class="container-fluid">
      <p class="copyright">&copy; 2017 <a href="https://www.themeineed.com" target="_blank">Theme I Need</a>. All Rights Reserved.</p>
    </div>
  </footer>
</div>
<!-- END WRAPPER -->
<!-- Javascript -->
<script src="/admin/vendor/jquery/jquery.min.js"></script>
<script src="/admin/vendor/bootstrap/js/bootstrap.min.js"></script>
<script src="/admin/vendor/jquery-slimscroll/jquery.slimscroll.min.js"></script>
<script src="/admin/vendor/datatables/js/jquery.dataTables.min.js"></script>
<script src="/admin/vendor/datatables/js/dataTables.bootstrap.min.js"></script>
<script src="/admin/scripts/klorofil-common.js"></script>

<script>
  $(document).ready(function() {
    $('#table_items').DataTable();
  } );
</script>
</body>

</html>
