<% if (typeof item !== "undefined" && item) { %>
<div class="col-sm-4">
  <div class="product-image-wrapper">
    <div class="single-products">
      <div class="productinfo text-center">
        <img src="/<%= item['image'] %>" alt="" />
        <h2><%- formatPrice(item['price']) %></h2>
        <p><%= item['name'] %></p>
        <a href="#" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Them vao gio hang</a>
      </div>
      <div class="product-overlay">
        <div class="overlay-content">
          <h2><%- formatPrice(item['price']) %></h2>
          <p><%- item['description'] %></p>
          <a href="#" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Them vao gio hang</a>
        </div>
      </div>
    </div>
    <div class="choose">
      <ul class="nav nav-pills nav-justified">
        <li><a href="/san-pham/<%= item['id'] %>"><i class="fa fa-plus-square"></i>Xem chi tiet</a></li>
      </ul>
    </div>
  </div>
</div>
<% } %>