<!DOCTYPE html>
<html lang="vi">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="">
  <meta name="author" content="">
  <title>Login | E-Shopper</title>
  <link href="css/bootstrap.min.css" rel="stylesheet">
  <link href="css/font-awesome.min.css" rel="stylesheet">
  <link href="css/prettyPhoto.css" rel="stylesheet">
  <link href="css/price-range.css" rel="stylesheet">
  <link href="css/animate.css" rel="stylesheet">
  <link href="css/main.css" rel="stylesheet">
  <link href="css/login-register.css" rel="stylesheet">
  <link href="css/responsive.css" rel="stylesheet">
  <!--[if lt IE 9]>
  <script src="js/html5shiv.js"></script>
  <![endif]-->
</head><!--/head-->

<body>
<%- include('../component/_header'); %>

<section id="reset_pass"><!--form-->
  <div class="container">
    <div class="row">
      <div class="col-sm-6 col-sm-offset-3">
        <% if (typeof flashStatus !== "undefined" && typeof flashMessage !== "undefined") { %>
        <div class="alert alert-<%= flashStatus %> alert-dismissible fade in" id="top_alert" role="alert">
          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">×</span>
          </button>
          <i class="fa fa-info"></i> <%= flashMessage %>
        </div>
        <% } %>
        <div class="login-form"><!--reset pass form-->
          <h2>Đặt lại mật khẩu của bạn</h2>
          <form action="" method="post" id="reset_pass_form">
            <input id="email" name="email" class="form-control" placeholder="Email" disabled value="<%= email %>">
            <input id="token" name="token" class="form-control" placeholder="Email Token" required maxlength="20">
            <input id="password" name="password" type="password" class="form-control" placeholder="Mật khẩu mới">
            <input id="re_password" name="re_password" type="password" class="form-control" placeholder="Xác nhận mật khẩu">
            <div class="alert alert-danger fade in error-alert" role="alert" id="token_error">
              <strong id="error_message"></strong>
            </div>
            <button type="submit" class="btn btn-default">Đặt lại mật khẩu</button>
          </form>
        </div><!--/reset pass form-->
      </div>
    </div>
  </div>
</section><!--/form-->

<%- include('../component/_footer'); %>

<script src="js/jquery.js"></script>
<script src="js/price-range.js"></script>
<script src="js/jquery.scrollUp.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/jquery.prettyPhoto.js"></script>
<script src="js/main.js"></script>

<script>
  let change_pass_done = false;
  $('#reset_pass_form').submit(function(e) {
    e.preventDefault();
    if (change_pass_done) {
      window.location = "/login";
      return;
    }
    hideError();
    let email = $('#email');
    let token = $('#token');
    let password = $('#password');
    let re_password = $('#re_password');
    let alert = $('#token_error');
    let error_message = $('#error_message');

    if (email.val()) {
      if (password.val() !== re_password.val()) {
        password.addClass('invalid');
        re_password.addClass('invalid');
        error_message.html('Email phải dài từ 5 tới 100 ký tự!');
        alert.show(200);
      } else if (token.val().length === 0) {
        token.addClass('invalid');
        error_message.html('Email phải dài từ 5 tới 100 ký tự!');
        alert.show(200);
      } else {
        $.ajax({
          url: "/quen-mat-khau-token",
          method: 'POST',
          dataType: 'JSON',
          success: function(result) {
            if (result && result.status === 'success') {
              alert.removeClass('alert-danger');
              alert.addClass('alert-success');
              error_message.html('Đổi mật khẩu thành công!');
              alert.show(200);
              change_pass_done = true;
            } else {
              alert.addClass('alert-danger');
              alert.removeClass('alert-success');
              error_message.html(result.message ? result.message : 'Đổi mật khẩu thất bại!');
              alert.show(200);
            }
          },
          error: function(error) {
            alert.addClass('alert-danger');
            alert.removeClass('alert-success');
            console.log(error);
            error_message.html(error);
            alert.show(200);
          }
        });
      }
    }
  })

  $('#email').keydown(function() {
    $(this).removeClass('invalid');
  });

  $('#token').keydown(function() {
    $(this).removeClass('invalid');
  });

  $('#password').keydown(function() {
    $(this).removeClass('invalid');
  });

  $('#re_password').keydown(function() {
    $(this).removeClass('invalid');
  });

  function hideError() {
    $('#token_error').hide(100);
    $('#email').removeClass('invalid');
    $('#token').removeClass('invalid');
    $('#password').removeClass('invalid');
    $('#re_password').removeClass('invalid');
  }
</script>
</body>
</html>